table,
th,
td {
  padding: 4px;
  border: 1px solid #dddddd;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}
.text-center {
  text-align: center;
}
tbody tr:nth-child(even) {
  background-color: #eeeeee;
}
